<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('./templates/header.ejs')%>
        
</head>

<body>

    <%-include('./templates/navagation.ejs')%>

    <div class="container p-4">
        <div class="row">
            <% data.forEach(function (shoe) { %>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <%= shoe.Brand%> / <%= shoe.Model%>
                        </div>
                        <img src="<%= shoe.Image%>" class="card-img-top">
                        <div class="card-body">
                            <p>
                                <%= shoe.Price %>
                            </p>
                        </div>
                        <div class="card footer">
                            <a href=">" class="btn btn-danger">
                                BORRAR
                            </a>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>

</body>

</html>