<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./templates/header.ejs')%>
   

</head>

<body>

    <%-include('./templates/navagation.ejs')%>
        <form id="shoeForm" action="/save" method="post">
            <div class="container p-4">
                <div class="row">
                    <% data.forEach(function (shoe) { %>

                        <div class="col-md-4" style="margin-bottom: 10px;">
                            <div class="card">
                                <div class="card-header">
                                    <%= shoe.Brand%> / <%= shoe.Model%>
                                </div>
                                <img src="<%= shoe.Image%>" class="card-img-top">
                                <div class="card-body" >
                                    <p>
                                        <%= shoe.Price %>
                                    </p>
                                </div>
                                <div class="card footer" >
                                    <!-- Checkbox -->
                                   
                                    
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" data-bs-toggle="collapse" data-bs-target="#collapseExample-<%= shoe.id %>" aria-expanded="false" aria-controls="collapseExample-<%= shoe.id %>" name="selectedShoes[]" value="<%= shoe.id %>">
                                        <label class="form-check-label" for="comprarCheckbox-<%= shoe.id %>">Comprar</label>
                                    </div>
                                    <div class="collapse" id="collapseExample-<%= shoe.id %>">
                                        <div class="d-flex align-items-center mt-2 cantidades">
                                            <input type="number" class="form-control mx-2" value="1" min="1" style="max-width: 90px;" id="cantidadInput-<%= shoe.id %>">
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                     

                                </div>
                            </div>
                        </div>

                        <% }) %>
                            <div class="col-12">
                                <a href="/invoicepreview" class="btn btn-primary">Previsualizacion de factura</a>

                            </div>

                </div>
            </div>


        </form>

        <footer>
            <%-include('./templates/footer.ejs')%>
        </footer>
        <script src="/script.js"></script>
        
</body>

