<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('./templates/header.ejs')%>
 </head>

<body>
  <%-include('./templates/navagation.ejs')%>
    <div class="container mt-3">
        <center><h1><%=  %></h1></center>
        <p>Muestra, edita los productos y elimina productos:</p>
          <%if(data.length > 0){%>
            <table class="table">
              <thead class="table-success">
                <tr>
                  <th>Marca</th>
                  <th>Modelo</th>
                  <th>Color</th>
                  <th>Talla</th>
                  <th>Precio</th>
                  <th>Stock</th>
                  <th>Imagen</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <% data.forEach(function (shoe) { %>
              <tbody>
                <tr style="vertical-align: middle;">
                  <td><%= shoe.Brand %></td>
                  <td><%= shoe.Model %></td>
                  <td><%= shoe.Color %></td>
                  <td><%= shoe.Size %></td>
                  <td><%= shoe.Price %></td>
                  <td><%= shoe.Stock %></td>
                  <td><img src="<%= shoe.Image %>" alt="<%= shoe.Model %>" width="100"></td>
                  <td>
                    <a href="/edit/<%= shoe.id %>" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                    <a href="/delete/<%= shoe.id %>" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>                   
                  </td>
                </tr>
              </tbody>
              <% }) %>
            </table>
          <%} else {%>
            <h2>No hay libros disponible </h2>
          <%}%>
      </div>
      <footer>
        <%-include('./templates/footer.ejs')%>
      </footer>
    </body>
</html>